{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style3.css' %}" />
  </head>
  <body>
    <div class="history">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="notifications">
              <div class="overlap-group">
                <img class="vector" src="{% static 'images/Vector.png' %}" />
              </div>
            </div>
            <div class="div">
              <div class="frame-2">
                <div class="text-wrapper">John Lloyd</div>
                <img class="photo" src="{% static 'images/pic.png' %}" />
              </div>
              <img class="more-arrow" src="{% static 'images/arrow.png' %}" />
            </div>
          </div>
          <img class="LOGO" src="{% static 'images/LOGO_inv.png' %}" />
          <div class="navbar">
            <div class="dashboard">
              <div class="overlap-group-2">
                <div class="container"></div>
                <div class="group">
                  <img class="dash-bicon" src="{% static 'images/dash_inv.png' %}" />
                  <div class="text-wrapper-3">Dashboard</div>
                </div>
              </div>
            </div>
            <a href="{% url 'invoice' %}">
            <div class="invoice">
              <div class="overlap-group-2">
                <div class="container-2"></div>
                <div class="group-2">
                  <img class="dash-bicon" src="{% static 'images/invoice.png' %}" />
                  <div class="text-wrapper-3">Invoice</div>
                </div>
              </div>
            </div>
            </a>
            <a href="{% url 'inventory' %}">
            <div class="inventory">
              <div class="overlap-group-2">
                <div class="container"></div>
                <div class="group-3">
                  <img class="dash-bicon" src="{% static 'images/inventory.png' %}" />
                  <div class="text-wrapper-3">Inventory</div>
                </div>
              </div>
            </div>
            </a>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="container"></div>
                <div class="group-2">
                  <img class="dash-bicon" src="{% static 'images/history.png' %}" />
                  <div class="text-wrapper-3">History</div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-3">
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <img class="mask-group" src="{% static 'images/arrowdown.png' %}" />
            <img class="image" src="{% static 'images/refresh.png' %}" />
            <img class="img" src="{% static 'images/option2.png' %}" />
            <div class="text-wrapper-4">NO TRANSACTIONS</div>
            <div class="rectangle-4"></div>
            <div class="text-wrapper-5">Anytime</div>
            <img class="mask-group-2" src="{% static 'images/arrowdownw.png' %}" />
          </div>
          <div class="searchbar">
            <div class="overlap-4">
              <img class="searchicon" src="{% static 'images/searchicon.png' %}" />
              <div class="text-wrapper-6">Search Product...</div>
              <img class="cancelicon" src="{% static 'images/cancelicon.png' %}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
