{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="admin-inventory">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="notifications">
              <div class="overlap-group">   
                <img class="vector" src="{% static 'images/Vector.png' %}" />
              </div>
            </div>
            <div class="div">
              <div class="frame-2">
                <div class="text-wrapper">John Lloyd</div>
                <img class="photo" src="{% static 'images/pic.png' %}" />
              </div>
              <img class="more-arrow" src="{% static 'images/arrow.png' %}" />
            </div>
          </div>
          <a href="{% url 'add_product' %}">
          <img class="add-product" src="{% static 'images/Add Product.png' %}" />
          </a>
          <div class="optionbox">
            <div class="overlap-2">
              <div class="rectangle"></div>
              <img class="options" src="{% static 'images/option.png' %}" /> 
            </div>
          </div>
          
          <div class="searchbar">
            <div class="overlap-3">
              <img class="searchicon" src="{% static 'images/searchicon.png' %}" />
              <div class="text-wrapper-2">Search Product...</div>
              <img class="cancelicon" src="{% static 'images/cancelicon.png' %}" />
            </div>
          </div>
          <div class="menu">
            <div class="overlap-4">
              <div class="menu-2"></div>
              <div class="text-wrapper-3">PRODUCT STATUS</div>
              <div class="allstat">
                <div class="overlap-5">
                  <div class="text-wrapper-4">All</div>
                  <div class="number">
                    <div class="div-wrapper"><div class="text-wrapper-5">0</div></div>
                  </div>
                </div>
              </div>
              <div class="low">
                <div class="overlap-6">
                  <div class="text-wrapper-4">Low</div>
                  <div class="number">
                    <div class="overlap-group-2"><div class="text-wrapper-6">0</div></div>
                  </div>
                </div>
              </div>
              <div class="outofstock">
                <div class="overlap-7">
                  <div class="text-wrapper-7">Out of stock</div>
                  <div class="number">
                    <div class="overlap-group-3"><div class="text-wrapper-8">0</div></div>
                  </div>
                </div>
              </div>
              <div class="sort">
                <div class="overlap-8">
                  <div class="sort-2">
                    <div class="text-wrapper-9">SORT BY</div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="text-wrapper-10">Alphabetical</div>
                  <div class="group">
                    <div class="text-wrapper-11">A-Z</div>
                    <img class="mask-group" src="{% static 'images/arrow.png' %}" />
                  </div>
                </div>
              </div>
              <div class="product">
                <div class="text-wrapper-9">PRODUCT TYPE</div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-4">
                    <div class="rectangle-3"></div>
                    <div class="text-wrapper-12">All Types</div>
                    <img class="img" src="{% static 'images/arrow.png' %}" />
                  </div>
                </div>
              </div>
              <div class="category">
                <div class="text-wrapper-9">CATEGORY</div>
                <div class="group-2">
                  <div class="overlap-group-4">
                    <div class="rectangle-3"></div>
                    <div class="text-wrapper-13">All Products</div>
                    <img class="img" src="{% static 'images/arrow.png' %}" />
                  </div>
                </div>
              </div>
              <div class="total-products">
                <div class="overlap-9">
                  <div class="text-wrapper-14">Products</div>
                  <div class="number">
                    <div class="overlap-group-5"><div class="text-wrapper-15">0</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="LOGO" src="{% static 'images/LOGO_inv.png' %}" />
          <div class="navbar">
            <div class="dashboard">
              <a href="{% url 'dashboard_view' %}">
              <div class="overlap-group-6">
                <div class="container"></div>
                <div class="group-3">
                  <img class="dash-bicon" src="{% static 'images/dash_inv.png' %}" />
                  <div class="text-wrapper-16">Dashboard</div>
                </div>
              </div>
              </a>
            </div>
            <a href="{% url 'invoice' %}">
            <div class="invoice">
              <div class="overlap-group-6">
                <div class="container"></div>
                <div class="group-4">
                    <img class="dash-bicon" src="{% static 'images/invoice.png' %}" />
                  <div class="text-wrapper-16">Invoice</div>
                </div>
              </div>
            </div>
          </a>
          <a href="{% url 'inventory' %}">
            <div class="inventory">
              <div class="overlap-group-6">
                <div class="container-2"></div>
                <div class="group-5">
                  <img class="dash-bicon" src="{% static 'images/inventory.png' %}" />
                  <div class="text-wrapper-16">Inventory</div>
                </div>
              </div>
            </div>
            </a>
            <a href="{% url 'history' %}">
            <div class="history">
              <div class="overlap-group-6">
                <div class="container"></div>
                <div class="group-4">
                  <img class="dash-bicon" src="{% static 'images/history.png' %}" />
                  <div class="text-wrapper-16">History</div>
                </div>
              </div>
            </div>
          </div>
          </a>
          <div class="overlap-10">
            <div class="rectangle-4"></div>
            <div class="text-wrapper-17">NO ITEMS YET</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>