{% extends "base.html" %}
{% block title %} Sales Management {% endblock %}

{% load static %}
    
{% block content %}
<div class="prod-table">
    <!-- Products Section -->
    <div class="products-section">
        <h2>PRODUCTS</h2>
        <form method="post" action="{% url 'update_sales' product.id %}">
            {% csrf_token %}
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Sales</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.name }}</td>
                        <td>{{ form.sold_quantity }}</td>
                        <td>₱{{ product.price }}</td>
                        <td>₱{{ product.total_sales }}</td>
                        <td><button type="submit" class="submit-button">Update Sale</button></td>
                    </tr>
                </tbody>
            </table>
        </form>       
    </div>
</div>
{% endblock %}