 
/* USER MANAGEMENT HTML CSS */
/* Apply uniform styling to all text and password input fields */
input[type="text"], input[type="password"], input[type="email"], select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 0px;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
  border-radius: 5px;
  border: 1px solid #ccc;
}
 
/* Ensure the password field stays consistent in height when toggling visibility */
.form-group {
  position: relative;
  margin-bottom: 15px; /* Space between input fields */
}
 
/* Adjust the toggle button for the password field */
#togglePassword {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  padding: 0; /* Removes any padding so it doesn't affect layout */
}
 
 
 
/* Scrollable Table Container */
.table-container {
  max-height: 200vh; /* Adjust height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #E0E0E0; /* Add border to the container */
}
 
.user-management-content {
  margin-top: 20px;
  padding: 0;
  background-color: #F7F3ED;
  border-radius: 10px;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.users-header-container {
  background-color: #FBE4D1;
  padding: 0;
  width: 100%;
}
 
.tabs {
  padding: 0 40px;
  margin-bottom: 10px;
}
 
.main-content-wrapper {
  overflow: hidden;
}
 
.second-main-content {
  padding: 20px 40px;
  background-color: #1976d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}
 
.tab {
  padding: 40px 20px;
  cursor: pointer;
  color: #6E6E6E;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.tab.active {
  border-bottom: 3px solid #5e72e4;
  color: #000000;
}
 
/* Labels Header */
.labels-container {
  display: flex;
  justify-content: space-between;
}
 
.label {
  background-color: rgba(248, 180, 0, 0.20);
  padding: 10px;
  color: #6E6E6E;
  font-weight: bold;
  width: calc(50% - 5px);
  text-align: left;
}
 
.label.name {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 25px;
}
 
.label.role {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 70px;
}
 
.actions {
  text-align: right;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 60px;
}
 
/* Search Box */
.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
 
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
 
.search-input {
  width: 200px;
  padding: 8px 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
}
 
.clear-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #ccc;
}
 
.clear-button:hover {
  color: #000;
}
 
/* Users Header */
.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.users-header h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
 
.users-count {
  color: #ffffff;
  font-weight: normal;
}
 
/* Add User Button */
.add-user-button {
  padding: 10px 20px;
  background-color: #174A4E;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
 
/* Users Container */
.users-container {
  width: 100%;
}
 
.users-container table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid #E0E0E0;
}
 
.users-container th, .users-container td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E0E0E0;
  vertical-align: middle;
}
 
/* Header Styling */
thead th {
  background-color: #1976d2;
  color: #fff;
  font-weight: bold;
}
 
/* Row Hover Effect */
.users-container tbody tr:hover {
  background-color: #f9f9f9;
}
 
/* Column Width Adjustments */
.action-checkbox-column,
.column-avatar {
  width: 50px;
  text-align: center;
}
 
/* Avatar Image */
.user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
 
/* Name and Email Styling */
.field-name .username {
  font-size: 18px;
  font-weight: bold;
 
}
.field-name .user-name {
  font-size: 18px;
  color: #6E6E6E;
}
 
.field-name .user-email {
  font-size: 14px;
  color: #6E6E6E;
}
 
/* User Role */
.field-status {
  color: #6E6E6E;
}
 
/* Actions */
.field-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}
 
.action-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.action-reset-password{
  margin-top: 22px;
  margin-bottom: 22px;
}
.action-delete{
  margin-top: 22px;
  margin-bottom: 22px;
}
.field-actions a {
  text-decoration: none;
  color: red;
  font-size: 14px;
  font-weight: bold;
}
 
.field-actions a:hover {
  text-decoration: underline;
}
 
 
/* General Styles for Modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* On top of other elements */
  justify-content: center;
  align-items: center;
  left: 0;
  top: 20;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  
}
 
/* Styles for Add/Delete User Modal */
/* Base Modal Styles (shared styles) */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  overflow: auto; /* Enable scrolling if needed */
}
 
.add-user-modal {
  width: 400px; /* Adjust width for Add User */
}
 
/* Delete User Modal: Smaller Width and Height */
.delete-user-modal {
  width: 350px; /* Adjust width for Delete User */
  height: 210px; /* Adjust height for Delete User */
  display: flex; /* Center-align content */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center-align vertically */
  align-items: center; /* Center-align horizontally */
}
 
 
/* Title Block for Modals */
.modal-title {
    color: #000000; /* Title color */
    font-size: 24px; /* Font size for title */
    font-weight: bold; /* Bold text */
    font-family: Arial, Helvetica, sans-serif; /* Font family */
    margin-bottom: 10px; /* Space below the title */
    text-align: center; /* Center align the title */
}
.close {
  position: absolute;
  top: 19px;
  right: 15px;
  font-size: 24px; /* Increase size for better clickability */
  font-weight: bold;
  color: rgba(50, 60, 71, 1);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  z-index: 10;
}
 
.modal-description {
    color: #282828; /* Subheading color */
    font-family: Arial, Helvetica, sans-serif; /* Font family */
    font-size: 14px; /* Subheading font size */
    text-align: center; /* Center align the description */
    margin-bottom: 20px; /* Space below the description */
}
 
/* Form Styles */
.modal-form {
    display: flex; /* Flex layout for alignment */
    flex-direction: column; /* Arrange fields vertically */
}
 
.modal-form .form-group {
    margin-bottom: 15px; /* Space between fields */
}
 
.modal-form .form-group label {
    display: block; /* Block display for better spacing */
    margin-bottom: 5px; /* Space between label and input */
    color: rgba(50, 60, 71, 1); /* Label color */
    font-weight: bold; /* Bold labels */
}
 
.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form input[type="password"],
.modal-form select {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside fields */
    margin: 10px 0; /* Space between fields */
    border: 1px solid rgba(50, 60, 71, 1); /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in width */
    font-size: 16px; /* Font size */
}
 
.modal-form input:focus,
.modal-form select:focus {
    outline: none; /* Remove default outline */
    border-color: rgba(228, 135, 39, 1); /* Change border color on focus */
    box-shadow: 0 0 5px rgba(228, 135, 39, 0.5); /* Glow effect */
}
 
/* Submit and Cancel Buttons */
.modal-buttons {
    display: flex; /* Flexbox for buttons */
    justify-content: space-between; /* Space between buttons */
    margin-top: 20px; /* Space above buttons */
}
 
.modal-buttons .submit-button,
.modal-buttons .cancel-button {
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth transition */
}
 
.modal-buttons .submit-button {
    background-color: rgba(228, 135, 39, 1); /* Primary color */
    color: white; /* Text color */
    border: none;
}
 
.modal-buttons .submit-button:hover {
    background-color: rgba(50, 60, 71, 1); /* Hover effect */
}
 
.modal-buttons .cancel-button {
    background-color: #e0e0e0; /* Cancel button color */
    color: #333; /* Text color */
    border: none;
}
 
.modal-buttons .cancel-button:hover {
    background-color: #c0c0c0; /* Hover effect */
}
 
 