{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}

{% load static %}

{% block content %}
<body>
  <div class="dashboardTitleBlock">
    <h3 class="dashboardTitleBlock-title">Dashboard</h3>
  </div>

  <img
    src="{% static 'img/rectangle554504-z1hj-200h.png' %}"
    alt="Rectangle554504"
    class="summaryRectangle"
  />

  <img
    src="{% static 'img/rectangle544504-putj-200h.png' %}"
    alt="Rectangle544504"
    class="orangeRectangle"
  />
  <span class="welcome">
    <span>Welcome, John Lloyd!</span>
  </span>

  <div class="totalProducts">
    <span class="totalProducts-num">
      {{ total_products }}
    </span>
    <span class="totalProducts-label">
      <span>Total Products</span>
    </span>
  </div>
  <img
    src="{% static 'img/box114504-3gfe-200h.png' %}"
    alt="box114504"
    class="totalProducts-img"
  />

  <div class="totalStock">
    <div class="totalStock-div2">
      <span class="totalStock-num">
        {{ total_stock }}
      </span>
      <span class="totalStock-label">
        <span>Total Stock</span>
      </span>
    </div>
    <img
      src="{% static 'img/instock314504-6hyq-200h.png' %}"
      alt="instock314504"
      class="totalStock-img"
    />
  </div>

  <div class="lowStock">
    <div class="lowStock-div2">
      <span class="lowStock-num">
        {{ low_stock_items }}
      </span>
      <span class="lowStock-label">
        <span>Low Stock Products</span>
      </span>
    </div>
    <img
      src="{% static 'img/warning114524-c7os-200w.png' %}"
      alt="warning114524"
      class="lowStock-img"
    />
  </div>

  <div class="outOfStock">
    <div class="outOfStock-div2">
      <span class="outOfStock-num">
        {{out_of_stock_items }}
      </span>
      <span class="outOfStock-label">
        <span>Out of Stock Products</span>
      </span>
    </div>
    <img
      src="{% static 'img/rejected114524-7q3w-200h.png' %}"
      alt="Out Of Stock icon"
      class="outOfStock-img"
    />
  </div>

  <img
    src="{% static 'img/rectangle564524-sp05-700w.png' %}"
    alt="Sales Report Box Container"
    class="salesReportContainer"
  />

  <!-- START OF SALES REPORT CHART -->
  <span class="salesReport-label">
    <span>Sales Report</span>
  </span>
  <div class="chart-container">
    <canvas id="salesChart"></canvas>
      <script>
        const productNames = {{ product_names|safe }};
        const remainingQuantities = {{ remaining_quantities|safe }};
        const soldQuantities = {{ sold_quantities|safe }};
  
        console.log(productNames, remainingQuantities, soldQuantities);
            
        const ctx = document.getElementById('salesChart').getContext('2d');
        const salesChart = new Chart(ctx, {
          type: 'bar',  
          data: {
              labels: productNames,  
              datasets: [
                {
                  label: 'Remaining Quantity',
                  data: remainingQuantities,
                  backgroundColor: 'rgba(228, 135, 39, 1)',
                  borderColor: 'rgba(228, 135, 39, 1)',
                  borderWidth: 1
                },
                {
                  label: 'Sold Quantity',
                  data: soldQuantities,
                  backgroundColor: 'rgba(8, 81, 102, 1)',
                  borderColor: 'rgba(8, 81, 102, 1)',
                  borderWidth: 1
                }
              ]
              },
              options: {
                scales: {
                    y: {
                    beginAtZero: true
                  }
                },
                responsive: true,
                maintainAspectRatio: false
              }
            });
          </script>
  </div>
  <!-- END OF SALES REPORT CHART -->

  <img
    src="{% static 'img/rectangle574524-eqj-600w.png' %}"
    alt="Recently Added Products Box Container"
    class="recentlyAddedContainer"
  />
  <span class="recentlyAdded-label">
    <span>Recently Added Products</span>
  </span>
  <!--START OF RECENTLY ADDED-->
    <table class="frame1169-salestable2">
      <thead>
        <tr>
          <th class="frame1169-ranktxt2">No</th>
          <th class="frame1169-frame11547">Product</th>
          <th class="frame1169-frame11548">Price</th>
          <th class="frame1169-frame11549">Date Added</th>
          </tr>
      </thead>
      <tbody>
        {% for product in recently_added_products %}
        <tr>
          <td class="frame1169-rank-column2">{{ forloop.counter }}</td>
          <td class="frame1169-frame11557">{{ product.name }}</td>
          <td class="frame1169-frame11558">₱{{ product.price }}</td>
          <td class="frame1169-frame11559">{{ product.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--END OF RECENTLY ADDED-->

    <img
      src="{% static 'img/rectangle574524-eqj-600w.png' %}"
      alt="Top Products Sold Box Container"
      class="topProductsContainer"
    />
    <span class="topProducts-label">
      <span>Top Products Sold</span>
    </span>
    <!--START OF TOP PRODUCTS-->
    <table class="frame1169-salestable1">
      <thead>
        <tr>
          <th class="frame1169-ranktxt1">Rank</th>
          <th class="frame1169-frame11541">Name</th>
          <th class="frame1169-frame11542">Number of Sales</th>
          <th class="frame1169-frame11543">Actions</th>
        </tr>
      </thead>
      <tbody>
          {% for product in top_products_sold %}
          <tr>
              <td class="frame1169-rankcolumn1">{{ forloop.counter }}{% if forloop.counter == 1 %}st{% elif forloop.counter == 2 %}nd{% elif forloop.counter == 3 %}rd{% else %}th{% endif %}</td>
              <td class="frame1169-frame11551">{{ product.name }}</td>
              <td class="frame1169-frame11552">{{ product.sold_quantity }}</td>
              <td class="frame1169-frame11553">{{ product.action }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    <!--END OF TOP PRODUCTS-->

    <img
      src="{% static 'img/rectangle574524-eqj-600w.png' %}"
      alt="Recent Transactions Box Container"
      class="transactionContainer"
    />
    <span class="transaction-label">
      <span>Recent Transactions</span>
    </span>
    <!--START OF TRANSACTIONS-->
    <div class="frame1169-transactiontable2">
      <div class="frame1169-frame11584">
        <div class="frame1169-idcolumn">
          <div class="frame1169-frame11544">
            <span class="frame1169-text183">
              <span>Transaction ID</span>
            </span>
          </div>
          <div class="frame1169-frame11554">
            <span class="frame1169-text185">
              <span>1231940391809483</span>
            </span>
          </div>
          <div class="frame1169-frame11564">
            <span class="frame1169-text187">
              <span>502743507239057</span>
            </span>
          </div>
          <div class="frame1169-frame11574">
            <span class="frame1169-text189">
              <span>813102483943294</span>
            </span>
          </div>
          <div class="frame1169-frame11585">
            <span class="frame1169-text191">
              <span>23958329549232</span>
            </span>
          </div>
          <div class="frame1169-frame11594">
            <span class="frame1169-text193">
              <span>42350853841048</span>
            </span>
          </div>
        </div>
        <div class="frame1169-datecolumn">
          <div class="frame1169-frame11545">
            <span class="frame1169-text195"><span>Date</span></span>
          </div>
          <div class="frame1169-frame11555">
            <span class="frame1169-text197"><span>09/11/2024</span></span>
          </div>
          <div class="frame1169-frame11565">
            <span class="frame1169-text199"><span>10/13/2024</span></span>
          </div>
          <div class="frame1169-frame11575">
            <span class="frame1169-text201"><span>03/09/24</span></span>
          </div>
          <div class="frame1169-frame11586">
            <span class="frame1169-text203"><span>12/4/2024</span></span>
          </div>
          <div class="frame1169-frame11595">
            <span class="frame1169-text205"><span>02/17/2024</span></span>
          </div>
        </div>
        <div class="frame1169-statuscolumn">
          <div class="frame1169-frame11546">
            <span class="frame1169-text207"><span>Status</span></span>
          </div>
          <div class="frame1169-frame11556">
            <span class="frame1169-text209"><span>Completed</span></span>
          </div>
          <div class="frame1169-frame11566">
            <span class="frame1169-text211"><span>Completed</span></span>
          </div>
          <div class="frame1169-frame11576">
            <span class="frame1169-text213"><span>Completed</span></span>
          </div>
          <div class="frame1169-frame11587">
            <span class="frame1169-text215"><span>Completed</span></span>
          </div>
          <div class="frame1169-frame11596">
            <span class="frame1169-text217"><span>Completed</span></span>
          </div>
        </div>
      </div>
    </div>
    <!--END OF TRANSACTIONS-->
</body>
{% endblock %}