<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./index.css" rel="stylesheet" />

      <div class="frame1169-container">
        <div class="frame1169-frame1169">
          <div class="frame1169logo">
            <img
              src="public/external/rectangle84504-3dlu-200h.png"
              alt="Rectangle84504"
              class="frame1169-rectangle8"
            />
            <span class="frame1169-text100">
              <span class="frame1169-text101">Zip</span>
              <span>stock</span>
            </span>
          </div>
          <div class="frame1169-navbar">
            <div class="frame1169-dashboard">
              <div class="frame1169-group31">
                <div class="frame1169-dash-bicon1">
                  <img
                    src="public/external/image4504-528-200h.png"
                    alt="image4504"
                    class="frame1169-image1"
                  />
                </div>
                <span class="frame1169-text103"><span>Dashboard</span></span>
              </div>
            </div>
            <div class="frame1169-invoice">
              <div class="frame1169-group32">
                <div class="frame1169-dash-bicon2">
                  <img
                    src="public/external/image4504-g9zc-200h.png"
                    alt="image4504"
                    class="frame1169-image3"
                  />
                </div>
                <span class="frame1169-text105"><span>Invoice</span></span>
              </div>
            </div>
            <div class="frame1169-inventory">
              <div class="frame1169-group33">
                <div class="frame1169-dash-bicon3">
                  <img
                    src="public/external/image4504-2bgo-200h.png"
                    alt="image4504"
                    class="frame1169-image4"
                  />
                </div>
                <span class="frame1169-text107"><span>Inventory</span></span>
              </div>
            </div>
            <div class="frame1169-history">
              <div class="frame1169-group34">
                <div class="frame1169-dash-bicon4">
                  <img
                    src="public/external/image4504-9eva-200h.png"
                    alt="image4504"
                    class="frame1169-image5"
                  />
                </div>
                <span class="frame1169-text109"><span>History</span></span>
              </div>
            </div>
          </div>
          <div class="frame1169-frame1142">
            <img
              src="public/external/notificationsi450-em.svg"
              alt="notificationsI450"
              class="frame1169-notifications"
            />
            <div class="frame1169-frame1139">
              <div class="frame1169-frame1138">
                <span class="frame1169-text111"><span>John Lloyd</span></span>
                <div class="frame1169-photo7">
                  <img
                    src="public/external/ellipsei450-4dai-200h.png"
                    alt="EllipseI450"
                    class="frame1169-ellipse"
                  />
                  <img
                    src="public/external/imagei450-slkn-200h.png"
                    alt="imageI450"
                    class="frame1169-image6"
                  />
                  <img
                    src="public/external/image2i450-j64-200h.png"
                    alt="image2I450"
                    class="frame1169-image2"
                  />
                </div>
              </div>
              <img
                src="public/external/morearrowi450-pq8c.svg"
                alt="MoreArrowI450"
                class="frame1169-more-arrow"
              />
            </div>
          </div>
          <img
            src="public/external/rectangle554504-z1hj-200h.png"
            alt="Rectangle554504"
            class="frame1169-rectangle55"
          />
          <div class="frame1169-group4">
            <span class="frame1169-text113"><span>65</span></span>
            <span class="frame1169-text115"><span>Total Products</span></span>
          </div>
          <img
            src="public/external/rectangle544504-putj-200h.png"
            alt="Rectangle544504"
            class="frame1169-rectangle54"
          />
          <span class="frame1169-text117">
            <span>Welcome, John Lloyd!</span>
          </span>
          <div class="frame1169-group10">
            <div class="frame1169-group5">
              <span class="frame1169-text119"><span>65</span></span>
              <span class="frame1169-text121"><span>Total Stock</span></span>
            </div>
            <img
              src="public/external/instock314504-6hyq-200h.png"
              alt="instock314504"
              class="frame1169-instock31"
            />
          </div>
          <img
            src="public/external/box114504-3gfe-200h.png"
            alt="box114504"
            class="frame1169-box11"
          />
          <div class="frame1169-group9">
            <div class="frame1169-group6">
              <span class="frame1169-text123"><span>65</span></span>
              <span class="frame1169-text125">
                <span>Low Stock Products</span>
              </span>
            </div>
            <img
              src="public/external/warning114524-c7os-200w.png"
              alt="warning114524"
              class="frame1169-warning11"
            />
          </div>
          <div class="frame1169-group8">
            <div class="frame1169-group7">
              <span class="frame1169-text127"><span>65</span></span>
              <span class="frame1169-text129">
                <span>Out of Stock Products</span>
              </span>
            </div>
            <img
              src="public/external/rejected114524-7q3w-200h.png"
              alt="rejected114524"
              class="frame1169-rejected11"
            />
          </div>
          <img
            src="public/external/rectangle564524-sp05-700w.png"
            alt="Rectangle564524"
            class="frame1169-rectangle56"
          />
          <img
            src="public/external/rectangle574524-eqj-600w.png"
            alt="Rectangle574524"
            class="frame1169-rectangle57"
          />
          <span class="frame1169-text131"><span>Sales Report</span></span>
          <span class="frame1169-text133">
            <span>Recently Added Products</span>
          </span>
          <div class="frame1169-salestable1">
            <div class="frame1169-rank-column1">
              <div class="frame1169-ranktxt1">
                <span class="frame1169-text135"><span>Rank</span></span>
              </div>
              <div class="frame1169-frame1sttxt1">
                <span class="frame1169-text137"><span>1st</span></span>
              </div>
              <div class="frame1169-frame2ndtxt1">
                <span class="frame1169-text139"><span>2nd</span></span>
              </div>
              <div class="frame1169-frame3rdtxt1">
                <span class="frame1169-text141"><span>3rd</span></span>
              </div>
              <div class="frame1169-frame4thtxt">
                <span class="frame1169-text143"><span>4th</span></span>
              </div>
              <div class="frame1169-frame5thtxt">
                <span class="frame1169-text145"><span>5th</span></span>
              </div>
            </div>
            <div class="frame1169-product-name-column1">
              <div class="frame1169-frame11541">
                <span class="frame1169-text147"><span>Product Name</span></span>
              </div>
              <div class="frame1169-frame11551">
                <span class="frame1169-text149">
                  <span>Kopiko Blanca, Twin Pack 58g</span>
                </span>
              </div>
              <div class="frame1169-frame11561">
                <span class="frame1169-text151">
                  <span>Jack ‘n Jill Piattos Cheese 40g</span>
                </span>
              </div>
              <div class="frame1169-frame11571">
                <span class="frame1169-text153">
                  <span>Mega Sardines Tomato Sauce 155g</span>
                </span>
              </div>
              <div class="frame1169-frame11581">
                <span class="frame1169-text155">
                  <span>Argentina Corned Beef 175g</span>
                </span>
              </div>
              <div class="frame1169-frame11591">
                <span class="frame1169-text157">
                  <span>UFC Hapi Fiesta Vegetable Oil 2L</span>
                </span>
              </div>
            </div>
            <div class="frame1169-noof-sales-column1">
              <div class="frame1169-frame11542">
                <span class="frame1169-text159"><span>No. of Sales</span></span>
              </div>
              <div class="frame1169-frame11552">
                <span class="frame1169-text161"><span>217</span></span>
              </div>
              <div class="frame1169-frame11562">
                <span class="frame1169-text163"><span>104</span></span>
              </div>
              <div class="frame1169-frame11572">
                <span class="frame1169-text165"><span>79</span></span>
              </div>
              <div class="frame1169-frame11582">
                <span class="frame1169-text167"><span>63</span></span>
              </div>
              <div class="frame1169-frame11592">
                <span class="frame1169-text169"><span>55</span></span>
              </div>
            </div>
            <div class="frame1169-actions-colum1">
              <div class="frame1169-frame11543">
                <span class="frame1169-text171"><span>Actions</span></span>
              </div>
              <div class="frame1169-frame11553">
                <span class="frame1169-text173">
                  <span>[Reorder Stock]</span>
                </span>
              </div>
              <div class="frame1169-frame11563">
                <span class="frame1169-text175">
                  <span>[Reorder Stock]</span>
                </span>
              </div>
              <div class="frame1169-frame11573">
                <span class="frame1169-text177">
                  <span>[Reorder Stock]</span>
                </span>
              </div>
              <div class="frame1169-frame11583">
                <span class="frame1169-text179">
                  <span>[Reorder Stock]</span>
                </span>
              </div>
              <div class="frame1169-frame11593">
                <span class="frame1169-text181">
                  <span>[Reorder Stock]</span>
                </span>
              </div>
            </div>
          </div>
          <div class="frame1169-transactiontable2">
            <div class="frame1169-frame11584">
              <div class="frame1169-idcolumn">
                <div class="frame1169-frame11544">
                  <span class="frame1169-text183">
                    <span>Transaction ID</span>
                  </span>
                </div>
                <div class="frame1169-frame11554">
                  <span class="frame1169-text185">
                    <span>1231940391809483</span>
                  </span>
                </div>
                <div class="frame1169-frame11564">
                  <span class="frame1169-text187">
                    <span>502743507239057</span>
                  </span>
                </div>
                <div class="frame1169-frame11574">
                  <span class="frame1169-text189">
                    <span>813102483943294</span>
                  </span>
                </div>
                <div class="frame1169-frame11585">
                  <span class="frame1169-text191">
                    <span>23958329549232</span>
                  </span>
                </div>
                <div class="frame1169-frame11594">
                  <span class="frame1169-text193">
                    <span>42350853841048</span>
                  </span>
                </div>
              </div>
              <div class="frame1169-datecolumn">
                <div class="frame1169-frame11545">
                  <span class="frame1169-text195"><span>Date</span></span>
                </div>
                <div class="frame1169-frame11555">
                  <span class="frame1169-text197"><span>09/11/2024</span></span>
                </div>
                <div class="frame1169-frame11565">
                  <span class="frame1169-text199"><span>10/13/2024</span></span>
                </div>
                <div class="frame1169-frame11575">
                  <span class="frame1169-text201"><span>03/09/24</span></span>
                </div>
                <div class="frame1169-frame11586">
                  <span class="frame1169-text203"><span>12/4/2024</span></span>
                </div>
                <div class="frame1169-frame11595">
                  <span class="frame1169-text205"><span>02/17/2024</span></span>
                </div>
              </div>
              <div class="frame1169-statuscolumn">
                <div class="frame1169-frame11546">
                  <span class="frame1169-text207"><span>Status</span></span>
                </div>
                <div class="frame1169-frame11556">
                  <span class="frame1169-text209"><span>Completed</span></span>
                </div>
                <div class="frame1169-frame11566">
                  <span class="frame1169-text211"><span>Completed</span></span>
                </div>
                <div class="frame1169-frame11576">
                  <span class="frame1169-text213"><span>Completed</span></span>
                </div>
                <div class="frame1169-frame11587">
                  <span class="frame1169-text215"><span>Completed</span></span>
                </div>
                <div class="frame1169-frame11596">
                  <span class="frame1169-text217"><span>Completed</span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="frame1169-salestable2">
            <div class="frame1169-rank-column2">
              <div class="frame1169-ranktxt2">
                <span class="frame1169-text219"><span>No</span></span>
              </div>
              <div class="frame1169-frame1sttxt2">
                <span class="frame1169-text221">1</span>
              </div>
              <div class="frame1169-frame2ndtxt2">
                <span class="frame1169-text222">2</span>
              </div>
              <div class="frame1169-frame3rdtxt2">
                <span class="frame1169-text223">3</span>
              </div>
            </div>
            <div class="frame1169-product-name-column2">
              <div class="frame1169-frame11547">
                <span class="frame1169-text224"><span>Product</span></span>
              </div>
              <div class="frame1169-frame11557">
                <span class="frame1169-text226">
                  <span>Kopiko Blanca, Twin Pack 58g</span>
                </span>
              </div>
              <div class="frame1169-frame11567">
                <span class="frame1169-text228">
                  <span>Jack ‘n Jill Piattos Cheese 40g</span>
                </span>
              </div>
              <div class="frame1169-frame11577">
                <span class="frame1169-text230">
                  <span>Mega Sardines Tomato Sauce 155g</span>
                </span>
              </div>
            </div>
            <div class="frame1169-noof-sales-column2">
              <div class="frame1169-frame11548">
                <span class="frame1169-text232"><span>Price</span></span>
              </div>
              <div class="frame1169-frame11558">
                <span class="frame1169-text234"><span>217</span></span>
              </div>
              <div class="frame1169-frame11568">
                <span class="frame1169-text236"><span>104</span></span>
              </div>
              <div class="frame1169-frame11578">
                <span class="frame1169-text238"><span>79</span></span>
              </div>
            </div>
            <div class="frame1169-actions-colum2">
              <div class="frame1169-frame11549">
                <span class="frame1169-text240"><span>Date Added</span></span>
              </div>
              <div class="frame1169-frame11559">
                <span class="frame1169-text242"><span>09/11/2024</span></span>
              </div>
              <div class="frame1169-frame11569">
                <span class="frame1169-text244"><span>10/13/2024</span></span>
              </div>
              <div class="frame1169-frame11579">
                <span class="frame1169-text246"><span>03/09/24</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
