<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Transactions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'assets/transactions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/styleguide.css' %}">
    </head>

    <body>
        <div class="transaction-container">
            <div class="transaction-box">
                <div class="transaction-header">
                    <span>Transactions</span>
                    <a href="{% url 'dashboard_view' %}">
                        <img
                          src="{% static 'img/close.svg' %}"
                          alt="Close"
                          class="close-icon"
                        />
                      </a>
                </div>

                <section class="table-section">
                    <div class="overlap-2">
                        <div class="rectangle-5"></div>
                            
                
                        <div class="transaction-table">
                            <div class="frame-4">
                                <div class="id-column">
                                    <div class="table-head-wrapper">
                                        <div class="text-wrapper-11">Transaction ID</div>
                                    </div>
                                    {% for transaction in recent_transactions %}
                                    <div class="frame-5">
                                        <div class="table-body-7">{{ transaction.id }}</div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="date-column">
                                    <div class="table-head-wrapper">
                                        <div class="text-wrapper-11">Date</div>
                                    </div>
                                    {% for transaction in recent_transactions %}
                                    <div class="frame-5">
                                        <div class="table-body-2">{{ transaction.transaction_date }}</div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="status-column">
                                    <div class="table-head-wrapper">
                                        <div class="text-wrapper-11">Status</div>
                                    </div>
                                    {% for transaction in recent_transactions %}
                                    <div class="frame-5">
                                        <div class="table-body-8">{{ transaction.status }}</div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="month-dropdown">
                            <div class="overlap-3">
                                <div class="frame-2">
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">January</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">February</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">March</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">April</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">May</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-6">
                                    <div class="text-wrapper-14">Choose month</div>
                                    <img class="vector" src="{% static 'img/vector-17.svg' %}" />
                                </div>
                            </div>
                        </div>
                        <div class="month-dropdown">
                            <div class="overlap-3">
                                <div class="frame-2">
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">January</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">February</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">March</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">April</div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper">
                                        <div class="options-wrapper">
                                            <div class="options">May</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-6">
                                    <!--<div class="text-wrapper-14">Choose month</div> 
                                    <img class="vector" src="{% static 'img/vector-17.svg' %}" /> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
            </div>
        </div>

        <div class="dashboard">
            
          </div>
    </body>
</html>