*{ /*global*/
  margin: 0;
  padding: 0;
}

body{ /*body styles*/
  min-height: 100vh;
  background-color: #e9e9e9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{ /*nav styles*/
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{ /* nav ul styles*/
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{ /*nav li styles*/
  height: 60px;
}

nav a{ /*anchor styles*/
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover{
  text-decoration: none;
  background-color: #c9c9c9;
  color: black;
}

nav li:first-child{ /*logo alignment*/
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

nav ul li:nth-child(7) { /* profile alignment */
  display: flex;
  align-items: center;
  margin-right: 20px;
}


.logo{ /* logo size     */
  width: 130px;
}

.profile{ /* profile size*/
  width: 30px;
}

.sidebar{ /*sidebar styles*/
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar li a{ /*width inside the sidebar*/
  width: 100%;
}

.menu-btn{
  display: none;
}

.list-group-flush {
  max-height: 300px; /* Limit height */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}


/*media query*/

@media(max-width: 900px){
  .hideNavbar{
      display: none;
  }
  .menu-btn{
      display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
      width: 100%;
  }
}

