.notification-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.notification-notification {
  width: 100%;
  height: 709px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.notification-group12 {
  top: 0px;
  left: 0px;
  width: 557px;
  height: 709px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.notification-rectangle59 {
  top: 95px;
  left: 0px;
  width: 557px;
  height: 614px;
  position: absolute;
  border-radius: 0 0 28px 28px;
}
.notification-group11 {
  top: 32px;
  left: 34px;
  width: 475px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.notification-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Istok Web;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-vector1 {
  top: 11px;
  left: 455px;
  width: 20px;
  height: 18px;
  position: absolute;
}
.notification-line25 {
  top: 95px;
  left: 0px;
  width: 557px;
  height: 1px;
  position: absolute;
}
.notification-toggleswitch {
  gap: 10px;
  top: 107px;
  left: 34px;
  width: 64px;
  height: 23px;
  display: flex;
  padding: 4px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(193, 193, 193, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 100px;
  background-color: rgba(130, 130, 130, 1);
}
.notification-ellipse3 {
  width: 15px;
  height: 15px;
}
.notification-rectangle60 {
  top: 147px;
  left: 0px;
  width: 557px;
  height: 105px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px 0 0;
}
.notification-rectangle61 {
  top: 252px;
  left: 0px;
  width: 557px;
  height: 105px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px 0 0;
}
.notification-rectangle62 {
  top: 349px;
  left: 0px;
  width: 557px;
  height: 105px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px 0 0;
}
.notification-text12 {
  top: 110px;
  left: 111px;
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-frameicon-exclamation-triangle {
  top: 177px;
  left: 34px;
  width: 41px;
  height: 33px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.notification-vector2 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 33px;
  position: absolute;
}
.notification-text14 {
  top: 174px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text15 {
  font-weight: 700;
}
.notification-text16 {
  font-weight: 400;
}
.notification-text18 {
  top: 276px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text19 {
  font-weight: 700;
}
.notification-text21 {
  top: 383px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  width: 391px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text22 {
  font-weight: 700;
}
.notification-text24 {
  top: 226px;
  left: 471px;
  color: rgba(161, 152, 152, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text26 {
  top: 325px;
  left: 471px;
  color: rgba(161, 152, 152, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-text28 {
  top: 429px;
  left: 471px;
  color: rgba(161, 152, 152, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-group {
  top: 281px;
  left: 34px;
  width: 41px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.notification-vector3 {
  top: 0px;
  left: 5.693983554840088px;
  width: 19px;
  height: 41px;
  position: absolute;
}
.notification-vector4 {
  top: 10.243680953979492px;
  left: 2.2737367544323206e-13px;
  width: 41px;
  height: 31px;
  position: absolute;
}
.notification-shipped {
  top: 378px;
  left: 35px;
  width: 48px;
  height: 48px;
  position: absolute;
}
