body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* from figma */
.dashboard {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw; 
  }
  
  .dashboard .component-wrapper {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
  }
  
  .dashboard .component {
    height: 1024px;
  }
  
  .dashboard .div {
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #ffffff;
  }
  
  .dashboard .text-wrapper {
    position: absolute;
    width: 143px;
    top: 56px;
    left: 430px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .text-wrapper-2 {
    width: 240px;
    top: 154px;
    left: 430px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    position: absolute;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .line {
    position: absolute;
    width: 1500px;
    height: 1px;
    top: 130px;
    left: 423px;
    object-fit: cover;
  }
  
  .dashboard .overlap {
    position: absolute;
    width: 1500px;
    height: 316px;
    top: 203px;
    left: 422px;
    background-color: #ffffff;
    border-radius: 27px;
    border: 1px solid;
    border-color: #00000040;
    box-shadow: 0px 4px 10px #00000040;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard .summary-details {
    position: relative;
    width: 925px;
    height: 213px;
    top: 49px;
    left: 45px;
  }
  
  .dashboard .rectangle {
    position: absolute;
    width: 7px;
    height: 211px;
    top: 2px;
    left: 0;
    background-color: #000000;
  }
  
  .dashboard .text-wrapper-3 {
    position: absolute;
    width: 185px;
    top: 2px;
    left: 37px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #867b7b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .text-wrapper-4 {
    top: 79px;
    left: 44px;
    position: absolute;
    width: 163px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .rectangle-2 {
    position: absolute;
    width: 7px;
    height: 211px;
    top: 2px;
    left: 280px;
    background-color: #000000;
  }
  
  .dashboard .text-wrapper-5 {
    position: absolute;
    width: 171px;
    top: 2px;
    left: 320px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #867b7b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .text-wrapper-6 {
    top: 79px;
    left: 273px;
    position: absolute;
    width: 163px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .rectangle-3 {
    position: absolute;
    width: 7px;
    height: 211px;
    top: 2px;
    left: 550px;
    background-color: #000000;
  }
  
  .dashboard .rectangle-4 {
    position: absolute;
    width: 7px;
    height: 211px;
    top: 2px;
    left: 800px;
    background-color: #000000;
  }
  
  .dashboard .text-wrapper-7 {
    position: absolute;
    width: 177px;
    top: 0;
    left: 590px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #867b7b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .text-wrapper-8 {
    position: absolute;
    width: 177px;
    top: 0;
    left: 850px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #867b7b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .text-wrapper-9 {
    top: 79px;
    left: 504px;
    position: absolute;
    width: 163px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .text-wrapper-10 {
    top: 77px;
    left: 737px;
    position: absolute;
    width: 163px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .overlap-group {
    position: absolute;
    width: 750px;
    height: 400px;
    top: 569px;
    left: 422px;
    background-color: #ffffff;
    border-radius: 27px;
    border: 1px solid;
    border-color: #00000040;
    box-shadow: 0px 4px 10px #00000040;
  }
  
  .dashboard .p {
    position: absolute;
    width: 366px;
    top: 13px;
    left: 23px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .sales-table {
    display: flex;
    width: 574px;
    height: 326px;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    top: 72px;
    left: 10px;
  }
  
  .dashboard .rank-column {
    flex-direction: column;
    width: 56px;
    height: 304px;
    align-items: flex-end;
    gap: 8px;
    display: flex;
    position: relative;
  }
  
  .dashboard .div-wrapper {
    height: 44px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    align-self: stretch;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    position: relative;
  }
  
  .dashboard .text-wrapper-11 {
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.14px;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    line-height: normal;
  }
  
  .dashboard .element-txt {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
  }
  
  .dashboard .table-body {
    margin-top: -1px;
    color: #323c47;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: normal;
  }
  
  .dashboard .table-body-wrapper {
    display: flex;
    height: 58px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
  }
  
  .dashboard .table-body-2 {
    color: #323c47;
    font-size: 13px;
    letter-spacing: 0.13px;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    line-height: normal;
  }
  
  .dashboard .element-rd-txt {
    display: flex;
    height: 27px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
  }
  
  .dashboard .table-body-3 {
    margin-top: -7.5px;
    margin-bottom: -5.5px;
    color: #323c47;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: normal;
  }
  
  .dashboard .element-th-txt {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
  }
  
  .dashboard .table-body-4 {
    margin-top: -6px;
    margin-bottom: -4px;
    color: #323c47;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: normal;
  }
  
  .dashboard .product-name-column {
    display: flex;
    flex-direction: column;
    width: 244px;
    align-items: flex-end;
    gap: 8px;
    position: relative;
  }
  
  .dashboard .frame {
    display: flex;
    height: 44px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
  }
  
  .dashboard .table-body-5 {
    margin-right: -8px;
    color: #323c47;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: normal;
  }
  
  .dashboard .no-of-sales-column {
    display: flex;
    flex-direction: column;
    width: 111px;
    align-items: flex-end;
    gap: 8px;
    position: relative;
  }
  
  .dashboard .actions-colum {
    display: flex;
    flex-direction: column;
    width: 139px;
    align-items: flex-end;
    gap: 8px;
    position: relative;
  }
  
  .dashboard .table-body-6 {
    color: #0b62c1;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: normal;
  }
  
  .dashboard .week-dropdown {
    position: absolute;
    width: 207px;
    height: 262px;
    top: 18px;
    left: 363px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .dashboard .overlap-group-2 {
    position: relative;
    width: 209px;
    height: 227px;
    top: -184px;
  }
  
  .dashboard .frame-2 {
    display: flex;
    flex-direction: column;
    width: 209px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .dashboard .frame-wrapper {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 43px;
  }
  
  .dashboard .options-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    position: relative;
  }
  
  .dashboard .options {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard .frame-3 {
    display: flex;
    width: 209px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    position: absolute;
    top: 184px;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .dashboard .text-wrapper-12 {
    margin-top: -1px;
    position: relative;
    width: fit-content;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #867b7b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard .vector {
    position: relative;
    width: 14.51px;
    height: 7.64px;
  }
  
  .dashboard .overlap-2 {
    position: absolute;
    width: 381px;
    height: 429px;
    top: 570px;
    left: 1180px;
  }
  
  .dashboard .rectangle-5 {
    position: absolute;
    width: 750px;
    height: 397px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 27px;
    border: 1px solid;
    border-color: #00000040;
    box-shadow: 0px 4px 10px #00000040;
  }
  
  .dashboard .text-wrapper-13 {
    position: absolute;
    width: 208px;
    top: 30px;
    left: 26px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .transaction-table {
    position: absolute;
    width: 365px;
    height: 357px;
    top: 72px;
    left: 16px;
    overflow: hidden;
  }
  
  .dashboard .frame-4 {
    display: flex;
    width: 1133px;
    align-items: flex-start;
    padding: 10px;
    position: relative;
  }
  
  .dashboard .id-column {
    display: flex;
    flex-direction: column;
    width: 137px;
    align-items: flex-end;
    gap: 8px;
    position: relative;
  }
  
  .dashboard .table-head-wrapper {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #eaeaea;
  }
  
  .dashboard .frame-5 {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
  }
  
  .dashboard .table-body-7 {
    margin-left: -1px;
    margin-right: -1px;
    color: #323c47;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: normal;
  }
  
  .dashboard .date-column {
    display: flex;
    flex-direction: column;
    width: 93px;
    align-items: flex-end;
    gap: 8px;
    position: relative;
  }
  
  .dashboard .status-column {
    display: flex;
    flex-direction: column;
    width: 97px;
    align-items: flex-end;
    gap: 8px;
    position: relative;
  }
  
  .dashboard .table-body-8 {
    color: #324739;
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.13px;
    line-height: normal;
  }
  
  .dashboard .month-dropdown {
    position: absolute;
    width: 160px;
    height: 262px;
    top: 18px;
    left: 199px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .dashboard .overlap-3 {
    position: relative;
    width: 209px;
    height: 222px;
    top: -184px;
  }
  
  .dashboard .frame-6 {
    display: flex;
    width: 160px;
    height: 37px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    position: absolute;
    top: 185px;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .dashboard .text-wrapper-14 {
    margin-top: -4px;
    margin-bottom: -2px;
    position: relative;
    width: fit-content;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #867b7b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard .back-arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 49px;
    left: 420px;
  }
  
  .dashboard .frame-7 {
    display: inline-flex;
    align-items: center;
    gap: 33px;
    position: absolute;
    top: 50px;
    left: 1700px;
  }
  
  .dashboard .notifications {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .dashboard .overlap-group-3 {
    position: relative;
    width: 19px;
    height: 22px;
    top: 1px;
    left: 3px;
  }
  
  .dashboard .img {
    position: absolute;
    width: 18px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .dashboard .ellipse {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 9px;
    background-color: var(--red);
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--white);
  }
  
  .dashboard .frame-8 {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .dashboard .frame-9 {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .dashboard .text-wrapper-15 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: normal;
  }
  
  .dashboard .photo {
    position: relative;
    width: 36px;
    height: 36px;
  }
  
  .dashboard .more-arrow {
    position: relative;
    width: 13.86px;
    height: 10.5px;
  }
  
  .dashboard .opened-menu {
    position: absolute;
    width: 380px;
    height: 1024px;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.85;
  }
  
  .dashboard .overlap-4 {
    position: relative;
    height: 1024px;
    background-color: #000000;
  }
  
  .dashboard .div-2 {
    position: absolute;
    width: 217px;
    height: 41px;
    top: 357px;
    left: 88px;
  }
  
  .dashboard .text-wrapper-16 {
    position: absolute;
    width: 143px;
    top: 7px;
    left: 72px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .dashboard-layout {
    position: absolute;
    width: 44px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .dashboard .products {
    position: absolute;
    width: 221px;
    height: 43px;
    top: 466px;
    left: 84px;
  }
  
  .dashboard .text-wrapper-17 {
    position: absolute;
    width: 143px;
    top: 9px;
    left: 76px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .shopping-cart {
    position: absolute;
    width: 46px;
    height: 43px;
    top: 0;
    left: 0;
  }
  
  .dashboard .text-wrapper-18 {
    width: 143px;
    top: 586px;
    left: 161px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .warehouse {
    position: absolute;
    width: 44px;
    height: 58px;
    top: 570px;
    left: 88px;
  }
  
  .dashboard .rectangle-6 {
    position: absolute;
    width: 231px;
    height: 77px;
    top: 341px;
    left: 72px;
    background-color: #d9d9d94a;
    border-radius: 16px;
  }
  
  .dashboard .settings {
    position: absolute;
    width: 221px;
    height: 54px;
    top: 688px;
    left: 84px;
  }
  
  .dashboard .text-wrapper-19 {
    position: absolute;
    width: 143px;
    top: 13px;
    left: 76px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .settings-2 {
    position: absolute;
    width: 45px;
    height: 54px;
    top: 0;
    left: 0;
  }
  
  .dashboard .rectangle-7 {
    position: absolute;
    width: 6px;
    height: 112px;
    top: 456px;
    left: 362px;
    background-color: #d9d9d926;
    border-radius: 15px;
  }
  
  .dashboard .LOGO {
    position: absolute;
    width: 171px;
    height: 58px;
    top: 104px;
    left: 103px;
  }
  
  .dashboard .overlap-group-4 {
    position: relative;
    width: 169px;
    height: 58px;
  }
  
  .dashboard .rectangle-8 {
    position: absolute;
    width: 115px;
    height: 50px;
    top: 4px;
    left: 54px;
    background-color: #d9d9d9;
    border-radius: 41px 10px 10px 41px;
  }
  
  .dashboard .zipstock {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0px 4px 4px #ea2f2f40;
    font-family: "Istok Web-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard .span {
    color: #00abd1;
  }
  
  .dashboard .text-wrapper-20 {
    color: #000000d9;
  }
  
  .dashboard .arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 14px;
    left: 317px;
  }
  
  .dashboard .rectangle-9 {
    position: absolute;
    width: 380px;
    height: 1024px;
    top: 0;
    left: 0;
    background-color: #000000;
  }

  :root {
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-color-theme-accent1: #FFFFFF;
    --dl-color-theme-accent2: #F5D1B0;
    --dl-radius-radius-round: 50%;
    --dl-color-theme-primary1: #BF4408;
    --dl-color-theme-primary2: #E65103;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-theme-secondary1: #FFFFFF;
    --dl-color-theme-secondary2: #FBF1EB;
    --dl-space-space-threeunits: 48px;
    --dl-color-theme-neutral-dark: #191818;
    --dl-radius-radius-cardradius: 8px;
    --dl-color-theme-neutral-light: #FBFAF9;
    --dl-radius-radius-imageradius: 8px;
    --dl-radius-radius-inputradius: 24px;
    --dl-radius-radius-buttonradius: 24px;
    --dl-space-space-oneandhalfunits: 24px;
  }
  .button {
    color: var(--dl-color-theme-neutral-dark);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .input {
    color: var(--dl-color-theme-neutral-dark);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .textarea {
    color: var(--dl-color-theme-neutral-dark);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-theme-neutral-light);
  }
  .list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
  }
  .list-item {
    display: list-item;
  }
  .teleport-show {
    display: flex !important;
    transform: none !important;
  }
  .thq-input {
    color: var(--dl-color-theme-neutral-dark);
    cursor: auto;
    outline: none;
    padding: 0.5rem 1rem;
    align-self: stretch;
    text-align: center;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-inputradius);
    background-color: var(--dl-color-theme-neutral-light);
  }
  .thq-input:focus {
    outline: 1px solid var(--dl-color-theme-primary1);
  }
  .thq-button-filled {
    gap: var(--dl-space-space-halfunit);
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: var(--dl-color-theme-primary1);
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
    background-color: var(--dl-color-theme-primary1);
  }
  .thq-button-filled:hover {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-button-outline {
    gap: var(--dl-space-space-halfunit);
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    border: 1px solid;
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: var(--dl-color-theme-primary1);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .thq-button-outline:hover {
    fill: var(--dl-color-theme-secondary2);
    color: var(--dl-color-theme-secondary2);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-button-flat {
    gap: var(--dl-space-space-halfunit);
    fill: var(--dl-color-theme-primary1);
    color: var(--dl-color-theme-primary1);
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    font-weight: bold;
    padding-top: var(--dl-space-space-halfunit);
    white-space: nowrap;
    border-color: transparent;
    border-width: 1px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-buttonradius);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .thq-button-flat:hover {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    border-color: var(--dl-color-theme-primary2);
    background-color: var(--dl-color-theme-primary2);
  }
  .thq-heading-1 {
    font-size: 48px;
    font-family: STIX Two Text;
    font-weight: 700;
    line-height: 1.5;
  }
  .thq-heading-2 {
    font-size: 35px;
    font-family: STIX Two Text;
    font-weight: 600;
    line-height: 1.5;
  }
  .thq-heading-3 {
    font-size: 26px;
    font-family: STIX Two Text;
    font-weight: 600;
    line-height: 1.5;
  }
  .thq-body-large {
    font-size: 18px;
    font-family: Noto Sans;
    line-height: 1.5;
  }
  .thq-body-small {
    font-size: 16px;
    font-family: Noto Sans;
    line-height: 1.5;
  }
  .thq-team-image-round {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .thq-section-padding {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-fiveunits);
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .thq-section-max-width {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
  }
  .thq-img-ratio-1-1 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-16-9 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-4-3 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-ratio-4-6 {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/6;
    border-radius: var(--dl-radius-radius-imageradius);
  }
  .thq-img-round {
    width: 100%;
    border-radius: var(--dl-radius-radius-round);
  }
  .thq-flex-column {
    gap: var(--dl-space-space-twounits);
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .thq-flex-row {
    gap: var(--dl-space-space-twounits);
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  .thq-grid-6 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .thq-grid-5 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .thq-card {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: stretch;
    border-radius: var(--dl-radius-radius-cardradius);
    flex-direction: column;
  }
  .thq-box-shadow {
    box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
  }
  .thq-grid-3 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-grid-4 {
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .thq-grid-2 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .thq-checkbox {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .thq-select {
    cursor: pointer;
    appearance: none;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-inputradius);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-theme-neutral-light);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  .thq-divider-horizontal {
    width: 100%;
    height: 1px;
    background-color: var(--dl-color-theme-neutral-dark);
  }
  .thq-icon-small {
    width: 24px;
    height: 24px;
  }
  .thq-button-icon {
    fill: var(--dl-color-theme-secondary1);
    padding: 3px;
    transition: 0.3s;
    border-radius: var(--dl-radius-radius-round);
  }
  .thq-button-icon:hover {
    fill: var(--dl-color-theme-secondary2);
  }
  .thq-icon-medium {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .thq-icon-x-small {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .thq-link {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
    transition: background-position 300ms ease;
    font-weight: 600;
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-text-fill-color: transparent;
  }
  .thq-link:hover {
    background-position: 0 100%;
  }
  .thq-grid-auto-300 {
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .thq-animated-group-vertical-reverse {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    animation: scroll-y 20s linear infinite;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    animation-direction: reverse;
  }
  .thq-animated-group-horizontal-reverse {
    gap: var(--dl-space-space-unit);
    display: flex;
    animation: scroll-x 20s linear infinite;
    min-width: 100%;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
    animation-direction: reverse;
  }
  .thq-animated-group-vertical {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    animation: scroll-y 20s linear infinite;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
  }
  .thq-animated-group-horizontal {
    gap: var(--dl-space-space-unit);
    display: flex;
    animation: scroll-x 20s linear infinite;
    min-width: 100%;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-around;
  }
  .thq-animated-group-container-vertical {
    gap: var(--dl-space-space-unit);
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  .thq-animated-group-container-horizontal {
    gap: var(--dl-space-space-unit);
    display: flex;
    overflow: hidden;
  }
  .thq-mask-image-vertical {
    mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
  }
  .thq-mask-image-horizontal {
    mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
  }
  .thq-img-scale {
    transition: 0.3s;
  }
  .thq-img-scale:hover {
    scale: 1.05;
  }
  .thq-animated-card-bg-1 {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: var(--dl-radius-radius-cardradius);
    background-color: var(--dl-color-theme-accent1);
  }
  .thq-animated-card-bg-2 {
    transition: transform 0.3s;
    border-radius: var(--dl-radius-radius-cardradius);
    background-color: var(--dl-color-theme-accent2);
  }
  .thq-button-animated {
    outline: none;
    z-index: 1;
    overflow: hidden;
    position: relative;
    border-width: 2px;
  }
  .thq-input::placeholder {
    text-align: center;
    vertical-align: middle;
  }
  .thq-animated-group-container-vertical:hover div {
    animation-play-state: paused;
  }
  .thq-animated-group-container-horizontal:hover div {
    animation-play-state: paused;
  }
  .thq-animated-card-bg-2:has([data-animated="true"]:hover) {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
  }
  .thq-animated-card-bg-1:has([data-animated="true"]:hover) {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
  }
  .thq-button-animated:before {
    top: 0;
    left: -20%;
    color: var(--dl-color-theme-neutral-light);
    width: 200%;
    height: 101%;
    content: "";
    z-index: 1;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.5s;
    border-radius: var(--dl-radius-radius-buttonradius);
    background-color: var(--dl-color-theme-neutral-dark);
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  .thq-button-animated:hover::before {
    color: var(--dl-color-theme-neutral-light);
    z-index: -1;
    transform: scaleX(1);
  }
  .Content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  @media(max-width: 991px) {
    .thq-grid-4 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media(max-width: 767px) {
    .thq-section-padding {
      padding: var(--dl-space-space-threeunits);
    }
    .thq-flex-column {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .thq-flex-row {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .thq-grid-6 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr 1fr;
    }
    .thq-grid-5 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr 1fr;
    }
    .thq-card {
      padding: var(--dl-space-space-oneandhalfunits);
    }
    .thq-grid-3 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-4 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      flex-direction: row;
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-2 {
      grid-gap: var(--dl-space-space-oneandhalfunits);
      grid-template-columns: 1fr;
    }
    .thq-img-scale {
      width: 100%;
    }
  }
  @media(max-width: 479px) {
    .thq-section-padding {
      padding: var(--dl-space-space-oneandhalfunits);
    }
    .thq-flex-column {
      gap: var(--dl-space-space-unit);
    }
    .thq-flex-row {
      gap: var(--dl-space-space-unit);
    }
    .thq-grid-6 {
      grid-gap: var(--dl-space-space-unit);
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-5 {
      grid-gap: var(--dl-space-space-unit);
      grid-template-columns: 1fr 1fr;
    }
    .thq-grid-3 {
      grid-gap: var(--dl-space-space-unit);
      align-items: center;
      grid-template-columns: 1fr;
    }
    .thq-grid-4 {
      grid-gap: var(--dl-space-space-unit);
      align-items: center;
      flex-direction: column;
      grid-template-columns: 1fr;
    }
    .thq-grid-2 {
      grid-gap: var(--dl-space-space-unit);
    }
    .thq-grid-auto-300 {
      grid-template-columns: 1fr;
    }
  }
  