.overlap-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .overlap-wrapper .overlap-wrapper {
    background-color: #e9e9e9;
    width: 1440px;
    height: 1024px;
    border-radius: 14px;
  }
  
  .overlap-wrapper .overlap {
    position: relative;
    height: 1024px;
    background-image: url(./img/image-13.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .overlap-wrapper .frame {
    gap: 33px;
    position: absolute;
    top: 50px;
    left: 1112px;
    display: inline-flex;
    align-items: center;
  }
  
  .overlap-wrapper .notifications {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .overlap-wrapper .overlap-group {
    position: relative;
    width: 19px;
    height: 22px;
    top: 1px;
    left: 3px;
  }
  
  .overlap-wrapper .vector {
    position: absolute;
    width: 18px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .overlap-wrapper .div {
    gap: 14px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
  }
  
  .overlap-wrapper .frame-2 {
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
  }
  
  .overlap-wrapper .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: normal;
  }
  
  .overlap-wrapper .photo {
    position: relative;
    width: 36px;
    height: 36px;
  }
  
  .overlap-wrapper .more-arrow {
    position: relative;
    width: 13.86px;
    height: 10.5px;
  }
  
  .overlap-wrapper .LOGO {
    position: absolute;
    width: 176px;
    height: 64px;
    top: 54px;
    left: 97px;
  }
  
  .overlap-wrapper .overlap-2 {
    position: relative;
    width: 169px;
    height: 58px;
  }
  
  .overlap-wrapper .rectangle {
    width: 115px;
    height: 50px;
    top: 4px;
    left: 54px;
    border-radius: 41px 10px 10px 41px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 6px 4px #00000040;
    opacity: 0.85;
  }
  
  
  .overlap-wrapper .span {
    color: #00abd1;
  }
  
  .overlap-wrapper .text-wrapper-2 {
    color: #000000d9;
  }
  
  .overlap-wrapper .navbar {
    position: absolute;
    width: 570px;
    height: 45px;
    top: 54px;
    left: 435px;
  }
  
  .overlap-wrapper .dashboard {
    position: absolute;
    width: 135px;
    height: 45px;
    top: 0;
    left: 0;
  }
  
  .overlap-wrapper .overlap-group-2 {
    position: relative;
    height: 45px;
    border-radius: 14px;
  }
  
  .overlap-wrapper .container {
    background-color: #ffffff;
    position: absolute;
    width: 135px;
    height: 45px;
    top: 0;
    left: 0;
    border-radius: 14px;
    box-shadow: 0px 6px 4px #00000040;
    opacity: 0.85;
  }
  
  .overlap-wrapper .group {
    width: 84px;
    left: 27px;
    position: absolute;
    height: 20px;
    top: 12px;
  }
  
  .overlap-wrapper .dash-bicon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .overlap-wrapper .text-wrapper-3 {
    position: absolute;
    top: 2px;
    left: 24px;
    opacity: 0.6;
    font-family: "Istok Web-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .overlap-wrapper .invoice {
    position: absolute;
    width: 135px;
    height: 45px;
    top: 0;
    left: 145px;
  }
  
  .overlap-wrapper .container-2 {
    background-color: #c4c4c4;
    position: absolute;
    width: 135px;
    height: 45px;
    top: 0;
    left: 0;
    border-radius: 14px;
    box-shadow: 0px 6px 4px #00000040;
    opacity: 0.85;
  }
  
  .overlap-wrapper .group-2 {
    position: absolute;
    width: 64px;
    height: 20px;
    top: 12px;
    left: 37px;
  }
  
  .overlap-wrapper .inventory {
    position: absolute;
    width: 135px;
    height: 45px;
    top: 0;
    left: 290px;
  }
  
  .overlap-wrapper .group-3 {
    width: 76px;
    left: 31px;
    position: absolute;
    height: 20px;
    top: 12px;
  }
  
  .overlap-wrapper .history {
    position: absolute;
    width: 135px;
    height: 45px;
    top: 0;
    left: 435px;
  }
  
  .overlap-wrapper .invoicetab {
    position: absolute;
    width: 621px;
    height: 799px;
    top: 154px;
    left: 105px;
  }
  
  .overlap-wrapper .overlap-3 {
    position: relative;
    width: 615px;
    height: 799px;
    border-radius: 14px;
  }
  
  .overlap-wrapper .rectangle-2 {
    width: 615px;
    height: 799px;
    top: 0;
    left: -10px;
    border-radius: 14px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 6px 4px #00000040;
    opacity: 0.85;
  }



  .overlap-wrapper .rectangle-2 {
    width: 615px;
    height: 799px;
    top: 0;
    left: -10px;
    border-radius: 14px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 6px 4px #00000040;
    opacity: 0.85;
  }
  
  .invoiceDetailsContainer {
    background-color: #ffffff;
    box-shadow: 0px 6px 4px #00000040;
    border-radius: 14px;
    position: relative;
    width: 615px;
    height: 799px;
    opacity: 0.85;
    top: 100px;
    left: 80px;
    
  }

  .invoiceDetailsContainer .text-wrapper-4 {
    position: absolute;
    top: 17px;
    left: 27px;
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .invoiceDetailsContainer .text-wrapper-5 {
    position: absolute;
    top: 35px;
    left: 27px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .invoiceDetailsContainer .text-wrapper-6 {
    position: absolute;
    top: 73px;
    left: 27px;
    opacity: 0.7;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .invoiceDetailsContainer .text-wrapper-7 {
    position: absolute;
    top: 499px;
    left: 1019px;
    opacity: 0.4;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }