.table-responsive{
    min-height: 50vh;
    overflow: auto;
    flex-shrink: 1;
}

.menu{
    max-height: 50vh;
    overflow: auto;
    flex-shrink: 1;
}

.footer-btns{
    padding-left: 10px;
    padding-bottom: 10px;
}

.product-button{
    border: none;
    flex-wrap: nowrap;
        
}