.menu{
    max-height: 50vh;
    overflow: auto;
    flex-shrink: 1;
}

.footer-btns{
    padding-left: 10px;
    padding-bottom: 10px;
}

.product-button{
    border: none;
    background-color: white;
    flex-wrap: nowrap;
    padding-right: 10px;    
}