{% extends "base.html" %}

{% load static %}

{% block title %} sales terminal {% endblock %}

{% block content %}
<div class="sales_container">
    <!-- Sales Terminal -->
    <div class="products_table">
        <h2>SALES TERMINAL</h2>

        <table class="product-table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Barcode</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="salesTableBody">
                {% if sales_products %}
                {% for product in sales_products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr id="noProductRow">
                    <td colspan="5">No products selected</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <div class="total-container">
            <h3>Total Price: {{ total_price }}</h3>
        </div>

        <footer class="footer-btns">
            <button class="fbtn" id="cncl" type="button" onclick="location.href='{% url 'clear_sales_terminal' %}'">Cancel</button>
            <button class="fbtn" id="totl" type="button" onclick="location.href=' {% url 'process_total' %} '">Total</button>
        </footer>
    </div>

    <!-- Products Tab -->
    <div class="products-tab">
        <div class="quantity-input">
            <label for="quantityInput"><strong>Enter Quantity:</strong></label>
            <form method="post" action="{% url 'add_to_sales_terminal' %}">
                {% csrf_token %}
                <input type="number" id="quantityInput" name="quantity" placeholder="Enter quantity" min="1" required>
                <input type="hidden" id="productSelected" name="barcode">
            </form>
        </div>

        <div class="category_tab">
            <section class="filter-option">
                <h2>PRODUCTS</h2>
                <form method="get" action="{% url 'sales_terminal' %}">
                    <select name="category" onchange="this.form.submit()">
                        <option value="">All Categories</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if selected_category and selected_category|stringformat:"i" == category.id|stringformat:"i" %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </section>

            <table class="product-table">
                <tbody>
                    {% for product in products %}
                        <button type="button" class="product-button" onclick="selectProduct('{{ product.barcode}}')">
                            {{ product.name }}
                        </button>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        
    </div>
</div>

{% endblock %}