.inventory_block { /* Main container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.menu { /* Menu Container */
    background: #ffffff;
    width: 362px;
    height: 767px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

h2 { /* Headings */
    font-size: 12px;
    color: #333;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 10px;
}

.status-group { /* Status Group - 2x2 Grid Layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.status { /* status styles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #333;
}

.status .count { /* span styles*/
    font-size: 13px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 3px;
}

.green { /* color configuration */
    background-color: #e0f7ea;
    color: #388e3c;
}

.blue { /* color configuration */
    background-color: #e3f2fd;
    color: #1976d2;
}

.red { /* color configuration */
    background-color: #ffebee;
    color: #d32f2f;
}

.orange { /* color configuration */
    background-color: #fff3e0;
    color: #f57c00;
}

.filter-option { /* Filter Option Sections */
    margin-bottom: 20px;
}

.filter-option .form_category{
    border: 1px solid #ddd;
}

.dropdown { /* drop down styles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 13px;
    color: #333;
}

.sort-order { /* sort styles */
    font-weight: bold;
    font-size: 13px;
    color: #555;
}

.arrow { /* arrow styles*/
    font-size: 12px;
    color: #888;
    transform: translateY(-1px);
}