{% extends "base.html" %} 

{% load static %}

{% block title %} inventory {% endblock %}

{% block content %}

    <div class="container2">
        <div id="search_bar" class="utility">
            <i id="srch" class='bx bx-search'></i><span class="srch_prod">Search product...</span><i id="x" class='bx bx-x'></i>
        </div>

        <div id="option_btn" class="utility">
            <i id="optn_btn" class='bx bx-dots-horizontal-rounded'></i>
        </div>

        <div id="add_btn" class="utility">
            <span class="add_prod">Add Product</span>
        </div>
    </div>

{% endblock %}