{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'css/styleadd.css' %}">
</head>
<body>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Product Adding</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Add</button>
            </form>

        </div>

    </div>

</body>
</html>