{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
  </head>
  <body>
    <div class="admin-invoice">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="notifications">
              <div class="overlap-group">
                <img class="vector" src="{% static 'images/Vector.png' %}" />
              </div>
            </div>
            <div class="div">
              <div class="frame-2">
                <div class="text-wrapper">John Lloyd</div>
                <img class="photo" src="{% static 'images/pic.png' %}" />
              </div>
              <img class="more-arrow" src="{% static 'images/arrow.png' %}" />
            </div>
          </div>
          <img class="LOGO" src="{% static 'images/LOGO.png' %}" />
          <div class="navbar">
            <div class="dashboard">
              <div class="overlap-group-2">
                <div class="container"></div>
                <div class="group">
                  <img class="dash-bicon" src="{% static 'images/dashboard.png' %}" />
                  <div class="text-wrapper-3">Dashboard</div>
                </div>
              </div>
            </div>
            <div class="invoice">
              <div class="overlap-group-2">
                <div class="container-2"></div>
                <div class="group-2">
                  <img class="dash-bicon" src="{% static 'images/invoice.png' %}" />
                  <div class="text-wrapper-3">Invoice</div>
                </div>
              </div>
            </div>
            <a href="{% url 'inventory' %}">
            <div class="inventory">
              <div class="overlap-group-2">
                <div class="container"></div>
                <div class="group-3">
                  <img class="dash-bicon" src="{% static 'images/inventory.png' %}" />
                  <div class="text-wrapper-3">Inventory</div>
                </div>
              </div>
            </div>
            </a>
            <a href="{% url 'history' %}">
            <div class="history">
              <div class="overlap-group-2">
                <div class="container"></div>
                <div class="group-2">
                  <img class="dash-bicon" src="{% static 'images/history.png' %}" />
                  <div class="text-wrapper-3">History</div>
                </div>
              </div>
            </div>
          </div>
          </a>
          <div class="invoicetab">
            <div class="overlap-3">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-4">Invoice Details</div>
              <div class="text-wrapper-5">ZPSTCK-0000-00</div>
              <div class="text-wrapper-6">Products</div>
            </div>
          </div>
          <div class="text-wrapper-7">NO ITEMS YET</div>
        </div>
      </div>
    </div>
  </body>
</html>
