<div class="col-xl-4">
  <div class="card">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
          <h5 class="h3 mb-0">Top Selling Products</h5>
        </div>
        <div class="col text-right">
          <a href="#!" class="btn btn-sm btn-primary">See all</a>
        </div>
      </div>
    </div>
    <div class="card-bodyTopProducts">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Product</th>
              <th scope="col">Number of Sales</th>
            </tr>
          </thead>
          <tbody>
            {% for product in top_products_sold %}
            <tr>
              <th scope="row">{{ forloop.counter }}{% if forloop.counter == 1 %}st{% elif forloop.counter == 2 %}nd{% elif forloop.counter == 3 %}rd{% else %}th{% endif %}</th>
              <td class="frame1169-frame11557">{{ product.name }}</td>
              <td class="frame1169-frame11558">{{ product.sold_quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>