.sales_container{ /*sales container*/
    background-color: #f0f0f0;
    min-width: 1440px;
    border-radius: 14px;
    height: 90vh;
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sales_container .products_table{ /* table for sales terminal */
    background-color: white;
    border-radius: 5px;
    min-width: 1160px;
    height: 85vh;
    flex-grow: 1;
    padding: 20px;
}

.sales_container .category_tab{ /* table for products tab */
    background-color: white;
    border-radius: 5px;
    min-width: 440px;
    height: 85vh;
    flex-grow: 1;
    padding: 20px;
}

.sales_container h2{ /* H2 configurations */
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid #FFB365;
}

.sales_container .footer{ /* footer configurations */
    display: flex;  
    margin-top: 15px;
    border-bottom: 3px solid #FFB365;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    width: 300px; 
    justify-content: center;
    align-items: center;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .box:hover {
    background-color: #388e3c;
    transform: scale(1.1);
  }

  .footer-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .fbtn{
    border: none;
    width: 85px;
    height: 40px;
    border-radius: 5px;
  }

  #cncl{
    background-color: rgb(255, 77, 77);
    color: white;
  }

  #sbttl{
    background-color: rgb(255, 178, 77);
    color: white;
  }

  #totl{
    background-color: #4caf50;
    color: white;
  }

  .grand-total{
    display: flex;
    margin-top: 540px;
    margin-left: 75%;
  }